<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ninja List</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <h1>Ninja Roster</h1>
    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Rank</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ninja : ${ninjas}">
            <td th:text="${ninja.nome}"></td>
            <td th:text="${ninja.email}"></td>
            <td th:text="${ninja.idade}"></td>
            <td th:text="${ninja.rank}"></td>
            <td class="actions">
                <a th:href="@{/ninjas/editar/{id}(id=${ninja.id})}">Edit</a>
                <a th:href="@{/ninjas/ui/deletar{id}(id=${ninja.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/ninjas/novo}" class="add-ninja-btn">Add New Ninja</a>
</div>
</body>
</html>